<body class='pawn_main'>
  <div class='title'>
    質情報を登録しました
  </div>

  <%= render partial: "shared/display-pawn" , locals: { customer: @customer, pawn: @pawn } %>

  <%= render partial: "shared/toppage_button" %>
</body>
