<% if params[:process] == "return" %>
  <body class='return_top'>
<% else params[:process] == "forfeit" %>
  <body class='forfeit_top'>
<% end %>
  <div class='title'>処理が完了しました</div>

  <%= render partial: "shared/display-status" , locals: { customer: @customer, pawn: @pawn } %>

  <%= render partial: "shared/toppage_button" %>

</body>