<% if params[:format] == "return" %>
  <body class="return_top">
    <div class="title">質返還・質情報検索</div>
    <%= render partial: "shared/search-pawn", locals: { process: status_search_pawns_path("return") } %>
<% elsif params[:format] == "forfeit" %>
  <body class="forfeit_top">
    <div class="title">質流れ・質情報検索</div>
    <%= render partial: "shared/search-pawn", locals: { process: status_search_pawns_path("forfeit") } %>
<% end %>
  <%= render partial: "shared/toppage_button" %>
</body>