.interest_form{
  width: 400px;
  margin: 30px 0 20px calc(50vw - 200px);
}

.short_text_field{
  width: 20px;
}

.short-form-field{
  margin-top: 10px;
  padding-left: 40px;
}

.form_field_flex{
  display: flex;
  justify-content: center;
}