<% if params[:process] == "create" %>
  <body class='purchase_main'>
    <div class='title'>買取情報を登録しました</div>
<% elsif params[:process] == "update" %>
  <body class='main'>
    <div class='title'>買取情報を編集しました</div>
<% end %>
  <%= render partial: "shared/display-purchase" , locals: { customer: @customer, purchase: @purchase } %>

  <%= render partial: "shared/toppage_button" %>
</body>
