<div class='button_lines'>
  <div class='new_customer_btn'>
    <%= link_to search_link, data: { confirm: '検索ページに戻っていいですか?' } do %>
      <div class='buttons'>
        検索ページへ戻る
      </div>
    <% end %>
  </div>
  <div class='new_customer_btn'>
    <%= link_to root_path, data: { confirm: 'トップページに戻っていいですか?' } do %>
      <div class='buttons'>
        トップへ戻る
      </div>
    <% end %>
  </div>
</div>