<div class="interest_form">
  <%= form_with model: @interest, url: process, local: true do |f| %>
    <div class='error_messages'>
      <%= render 'layouts/error_messages', model: f.object %>
    </div>
    <div class="form_field_flex">
      <div>
        <%= f.text_area :interests_number, class:"interests-number", id:"interests-number", size:"4x1", maxlength:"3" %>回
      </div>
      <div>
        <%= f.submit "登録" ,class:"register-btn", data: { confirm: 'この利息回数で登録していいですか?' } %>
      </div>
    </div>
  <% end %>
</div>