<div class='title'>
  <%= page_title %>
</div>
<div class='index_link'>
  <%= link_to new_data do %>
    <div class='buttons pawn_button'>
      新規客
    </div>
  <% end %>
</div>
<div class='index_link'>
  <%= link_to search_data do %>
    <div class='buttons pawn_button'>
      リピーター
    </div>
  <% end %>
</div>
<div class='index_link'>
  <%= link_to root_path do %>
    <div class='buttons pawn_button'>
      トップへ戻る
    </div>
  <% end %>
</div>
