<% if params[:format] == "pawn" %>
  <body class='pawn_main'>
    <div class='title'>
      お客様情報検索
    </div>

    <%= render partial: "shared/search-customer", locals: { url: search_customers_path(pawn) } %>

    <%= render partial: "shared/back-button" , locals: { back_link: pawns_path } %>

  </body>
<% elsif params[:format] == "purchase" %>

  <body class='purchase_main'>
    <div class='title'>
      お客様情報検索
    </div>

    <%= render partial: "shared/search-customer", locals: { url: search_customers_path(purchase) } %>

    <%= render partial: "shared/back-button" , locals: { back_link: purchases_path } %>

  </body>
<% end %>
