<body class='main'>
  <div class='title'>利息の回数を入力してください</div>
  <%= render partial: "shared/interest-form", locals: { process: interest_path(@interest.id) } %>
  <%= render partial: "shared/three-back-buttons" , locals: { back_link: input_interest_searchs_path, page_name: "利息検索" } %>
</body>
