<body class='interest_main'>
  <div class='title'>
    お客様情報検索
  </div>

  <%= render partial: "shared/search-pawn", locals: { process: search_interests_path("interest") } %>

  <%= render partial: "shared/toppage_button" %>
</body>