<body class='main'>
<div class="title">お客様情報検索結果</div>
  <% if @customer == nil %>
    <div class="nil_message">
      該当するデータはありませんでした。検索をやり直してください。
    </div>
  <% else %>
    <%= render partial: "shared/search-result-customer", collection: @customer, as: "customer_record" %>
  <% end %>
  <%= render partial: "shared/back-button" , locals: { back_link: input_customer_searchs_path } %>
</body>